header{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-self: center;
    width: 100vw;
    align-items: center;
    background-color: $bgColor2;
      
    
    position: sticky;
    top: 0;
   
    h2{
        color: $color1;
        align-self: cilenter;
    }
    ul{
        width: 50%;
        margin-top: 3%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
        
        a {
            font-family: $textoParrafos;
            text-decoration: none;
            color:$color1;
            
            
    
    
            &:hover{
                text-decoration: underline;
                color: rgb(88, 85, 85);
            }
    
        }
    }

      

}



