@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$textoTitulos: 'Lexend Giga';
$textoParrafos: 'Montserrat', sans-serif;


$color1: #404040;
$color2: #737373;
$color3: #BFBFBF;
$color4: #D9D9D9;
$color5: #F2F2F2;
$color6: #ad8076;
$color7: #545C3C;
$color8: #854AD9;

$bgColor1:#F2F2F2;
$bgColor2:#C9D6E3;
$bgcolor3:#A3D3D9;
$bgcolor4:#E6EAEA;
$bgcolor5:#D3D4C6;
$bgcolor6:#d3a277;
$bgcolor7:#f88267;
$bgcolor8:#88fc90;
$bgcolor9:#adddab;


$colorContacto1:#F6F7DB;
$colorContacto2:#595857;
$colorContacto3:#BFBDBA;
$colorContacto4:#D97C2B;
$colorContacto5:#D9B391;

